body {
  background-color: #97C3E9;
}

#container {
  margin: 0 auto;
  width: 440px;
}

#photo-grid {
  display: flex;
  flex-wrap: wrap;
}

#photo-grid img {
  cursor: move;
  margin: 0 5px 10px;
  width: 100px;
}

.trash {
  align-items: center;
  border: 1px solid white;
  color: #2F5367;
  display: flex;
  margin: 10px 0;
  padding: 40px 10px;
  width: 100%;
}

#trash-title {
  margin-left: 10px;
}

.highlight {
 border: 1px dashed #b5c051;
 -moz-border-radius: 10px;
}

.highlight-accept {
   background: #d9dfa4; 
}