body {
  font-family: sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.reservation {
  background-color: #fefbf6;
  padding: 20px;
}

.reservation__title {
  color: #66635e;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
}

.reservation__title:after {
  bottom: 10px;
  border-bottom: 2px solid #a29e9b;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.reservation-fields {
  color: #7d7a73;
}

.reservation-field {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.reservation-field-name {
  text-align: right;
  width: 25%;
}

.reservation-field-value {
  background-color: #fafafa;
  border: 1px solid #d1d0ce;
  border-radius: 5px;
  color: #2c90cb;
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
  padding: 10px 20px;
}

input.reservation-field-value {
  background-color: #fff;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  background-color: #fff;
  color: #000;
  opacity: 1;
  transition: background-color .2s, box-shadow .2s;
}

.ui-datepicker .ui-datepicker-buttonpane button:focus,
.ui-datepicker .ui-datepicker-buttonpane button:hover {
  background-color: #2c90cb;
  box-shadow: 1px 1px 10px 0 #2c90cb;
  transition: background-color .2s, box-shadow .2s;
}

.ui-datepicker .ui-datepicker-calendar a {
  transition: background-color .2s, box-shadow .2s;
}

.ui-datepicker .ui-datepicker-calendar a.ui-state-hover {
  background-color: #2c90cb;
  box-shadow: 0 0 5px 0 #2c90cb;
  transition: background-color .2s, box-shadow .2s;
}
